@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Fetch the SNP500's historical data and make a prediction based on the findings.</p>
</div>
